
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; 
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.left-nav {
  display: flex;
  padding-left: 15px;
}
.nav-dropdown {
  margin-left: 20px;
  padding-top: 7px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.chevronDown {
  width: 50%;
  padding-left: 5px;
  padding-top: 3px;
  fill: rgb(58, 58, 58);
}
.right-nav {
  display: flex;
  margin-right: 15px;
}
.smile-face {
  position: relative;
  max-width: 50px;
  border-radius: 25px;
  margin-left: 5px;
}
.green {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  left: 76%;
  top: 64%;
  background-color: #19cb97;
}
.bellButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2f2f2;
  position: relative;
}
.bell {
  position: absolute;
  left: 35%;
  top: 35%;
}
.purlple {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  left: 66%;
  top: 11%;
  background-color: #7550fe;
}

/*hero*/


.hero {
  font-family: Arial, Helvetica,sans-serif;
  display: flex;
  flex-direction: row;
  background-color: #7550fe;
}
.text-hero{
  flex-grow: 3;
  margin: auto;
  margin-left: 370px;
}
.hero-img {
  background-repeat: no-repeat;
  flex-grow:4;
  margin-bottom: -2px;
}
.buttons-hero {
  display: inline-block;
  width: 500px;
  height: 200px;
}
.hero-h1 {
  color: white;
  font-size: 24pt;
}
.hero-p1 {
  color: rgb(184, 170, 170);
  font-size: 14pt;
}
.hero-b1 {
  width: 140px;
  height: 42px;
  background-color: #19cb97;
  border-radius: 4px;
  border: none;
  color: white;
}
.hero-b2 {
  width: 163px;
  height: 42px;
  background-color: white;
  border-radius: 4px;
  border: none;
  color: black;
}


/*section-1*/



.section1 {
  display: flex;    
  justify-content: center;
  gap: 150px;
  padding: 30px;

}
.section1 > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.pink-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f8eee7;
  position: relative;
}

.images-section1 {
  position: absolute;
  left: 34%;
  top: 32%;
  width: 35%;
}
#text-section1 span {
  font-size: 16px;
}

#text-section1 {
  font-size: 12px;
  color: #6e6e6e;;
}


/*courses-1*/


.courses-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  background-color: #f2f2f2;
}
.reccomender {
  display: flex;
  justify-content: left;
  align-items: start;
  padding-left: 350px;
  padding-top: 50px;
  margin-bottom: -40px;
  font-size: 20px;
}
.main-course{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  padding: 30px;
}
.circle {
  align-self: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}
.icon1 {
  position: absolute;
  left: 29%;
  top: 32%;
  width: 35%;
}
.icon2 {
  position: absolute;
  left: 35%;
  top: 32%;
  width: 35%;
}

.courses {
  width: 210px;
  height: 360px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.image-course {
  width: 100%;
  object-fit: contain;
  object-position: top;
  overflow: hidden;
} 

.text-inside-course {
  position: absolute;
  font-size: 14px;
  margin-left: 22px;
  margin-top: 18px;
}
.box-credentials {
  margin-top: 63px;
  position: relative;
}
.clock-small {
  position: absolute;
  left: 10%;
  width: 7%;
}
.filter {
  position: absolute;
  left: 40%;
  width: 8%;
  transform: rotate(90deg);
}
.hours {
  position: absolute;
  left: 20%;
  font-size: 11px;
  top: 4px;
}
.adv {
  position: absolute;
  top: 4px;
  left: 50%;
  font-size: 11px;
}

.money {
  position: absolute;
  padding-top: 63px;
  padding-bottom: 8px;
  padding-left: 22px;
}
.text-money {
  font-size: 12px;
}
.money-cross{
  font-size: 10px;
  text-decoration: line-through;
  color: #6e6e6e;
  padding-left: 4px;
}
hr {
  color: #6e6e6e;
  border: -20px solid;
  width: 230px;
  margin-left: -26px;
  margin-top: 28px;
}

.face-image-person {
 position: absolute;
 margin-top: 128px;
 margin-left: 20px;
}
.avatar2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.avatar-name {
  position: absolute;
  margin-top: 135px;
  margin-left: 60px;
  font-size: 12px;
  color: #6e6e6e;
  
}